.FilterItem {
  /* width: 33.33%; */
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  user-select: none;
}

.Active {
  border-color: aquamarine;
}
