.app {
  /* padding-top: 51px; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrapper {
  min-height: 100%;
  /* margin: 51px 0; */
  padding: 51px 0 0;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  font-size: 48px;
  font-size: 2rem;
  text-transform: uppercase;
  /* margin: 0.5vh 0; */
  font-weight: 900;
  box-sizing: border-box;
}
/* 
.page-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


.page-title a {
  color: black;
  text-decoration: none;
}

.header {
  padding: 1vh 2vw;
}

.ItemFull {
  width: 100% !important;
  align-content: space-around !important;
}

.ItemFull a {
  padding: 4vh 0;
}

.ItemFullColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.material-icons {
  font-size: 16px;
} */

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .page-wrapper {
    /* margin: 6vh 5vw 0; */
    /* padding: 1vh 5vw 2vh; */
  }
}

@media only screen and (min-width: 1025px) {
  /* For Desktop: */
  .page-wrapper {
    /* margin: 6vh 10vw 0;
    padding: 1vh 5vw 2vh; */
  }
}
