* {
  margin: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

/* Text */
.title {
  text-transform: uppercase;
}
.subTitle {
  text-transform: uppercase;
}
.heading {
  font-size: 1.4em;
  font-weight: 700;
}
.subHeading {
  font-size: 1.2em;
}
.body {
  font-size: 1em;
}
.bold {
  font-weight: 600;
}
/* Inputs */

.inputWrapper {
  position: relative;
  padding: 0;
  /* top: 51px; */
}

.input {
  width: 100%;
  padding: 4px 6px;
  margin: 0.5vh 0;
  border-radius: 4px;
  /* border-color: grey; */
}

.inputSearch {
  margin: 2%;
  /* display: inline-block; */
  position: absolute;
  width: 96%;
  padding: 8px;
  top: 0;
  z-index: 50;
  box-sizing: border-box;
}

/* Colors */
.primaryColor {
  color: black;
}
.primaryColor200 {
  color: grey;
}
.secondaryColor {
  color: rgb(64, 0, 128);
}
.terciaryColor {
  color: white;
}
