extends baseEmail

block content
  p Hello there,
  p Your password was just updated! If this was done by you, please ignore this email.
  p You can request a password change if you click the link below.
  
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a.button(href=`${url}`, target='_blank') Change my password
  p If you didn't make this change please update your password.
