.message {
  /* height: 5vh; */
  padding: 0.5vh 1vw;
  text-align: center;
  /* display: none; */
}

.animation {
  animation-name: myAnimation;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes myAnimation {
  0% {
    /* display: contents; */
    opacity: 1;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}
