.Catalog {
  /* position: relative;
  top: 0; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.copy {
  text-align: end;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
}
