.Catalog {
  /* position: relative;
  top: 0; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.filter {
  display: flex;
}

.table {
  font-weight: 900;
  /* text-transform: uppercase; */
}
.itemWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1vh 0;
}

.imageWrapper {
  width: 15vw;
}

.image {
  width: 15vw;
}

.details {
  width: 40vw;
  padding: 0 1vw;
}

.created {
  width: 20vw;
  padding: 0 1vw;
}

.updated {
  width: 20vw;
  padding: 0 1vw;
}

.edit {
  width: 5vw;
  margin: auto 0;
  font-weight: 600;
}

.paginate {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
}
.right div {
  padding: 6px;
  border: 1px black solid;
  font-weight: 600;
  text-transform: capitalize;
}
.prev {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.next {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.disabled {
  color: grey;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
}
