.table {
  font-weight: 900;
  /* text-transform: uppercase; */
  align-items: end;
}
.itemWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 5vh;
  border-bottom: 1px solid grey;
  /* padding: 1vh 0; */
  box-sizing: border-box;
}

.imageWrapper {
  width: 15vw;
  display: flex;
  align-items: center;
}

.name {
  text-transform: capitalize;
}

.image {
  width: 15vw;
}

.details {
  width: 25vw;
  padding: 1vh 2vw;
  box-sizing: border-box;
}

.Created {
  width: 20vw;
  padding: 1vh 1vw;
  box-sizing: border-box;
  /* text-transform: uppercase; */
}

.Updated {
  width: 20vw;
  padding: 1vh 1vw;
  box-sizing: border-box;
  /* text-transform: uppercase; */
}
.created {
  width: 20vw;
  padding: 1vh 1vw;
  box-sizing: border-box;
  text-transform: capitalize;
}

.updated {
  width: 20vw;
  padding: 1vh 1vw;
  box-sizing: border-box;
  text-transform: capitalize;
}

.editWrapper {
  width: 20vw;
  /* margin: auto 0; */
  padding: 2px 0;
  /* font-weight: 600; */
  box-sizing: border-box;
}

.tooltip {
  display: "inline-block";
  margin: "60px";
  color: black;
}

.archived {
  width: fit-content;
  background-color: rgb(215, 215, 215);
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  padding: 1px 6px;
  margin: 2px;
}

.disabled {
  color: grey;
}
