.table {
  font-weight: 900;
  /* text-transform: uppercase; */
  align-items: end;
}
.itemWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 5vh;
  border-bottom: 1px solid grey;
  padding: 1vh 0;
  box-sizing: border-box;
}

.imageWrapper {
  width: 15vw;
  box-sizing: border-box;
}

.image {
  width: 15vw;
}

.details {
  width: 25vw;
  padding: 0 2vw;
  box-sizing: border-box;
}

.created {
  width: 20vw;
  padding: 0 1vw;
  box-sizing: border-box;
}

.updated {
  width: 20vw;
  padding: 0 1vw;
  box-sizing: border-box;
}

.editWrapper {
  width: 20vw;
  /* margin: auto 0; */
  padding: 0 2vw;
  /* font-weight: 600; */
  box-sizing: border-box;
}

.edit {
  /* border-bottom: 1px solid grey; */
}

.delete {
  color: gray;
}

.tooltip {
  display: "inline-block";
  margin: "60px";
  color: black;
}
