.NavItem {
    display:flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 51px;
    box-sizing: border-box;
    text-align: center;
}

.NavItem a {
    padding: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8F5C2C;
    text-decoration: none; 
    width: 100%;
    height: 51px;
    box-sizing: border-box;
}

.NavItem P {
    margin: 0;
}

.NavItem a:hover,
.NavItem a:active{
    color: rgb(161, 131, 103);
    background-color: rgb(29, 27, 24);
}

@media only screen and (min-width: 1025px) {
    .NavItem {
        margin: 0;
        display: flex;
        width: auto;
        align-items: center;
    }
    
    .NavItem a {
        color: white;
        padding: 1.6vh 1vw;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        align-items: center;
    }
    
    .NavItem a:hover,
    .NavItem a:active {
        background-color: rgb(9, 4, 19);
        border-top: 4px solid transparent;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }

    .LogoName {
        font-size: 1.6em;
    }
}
