.Home {
}

.headerWrapper {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  /* z-index: -1; */
  display: flex;
}

.headerTitle {
  display: flex;
  align-items: center;
  position: relative;
}

.headerWrapper img {
  width: 100%;
}

/* Centered text */
.header {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  /* text-align: center;
  font-size: 18px; */
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 1), -10px 2px 12px rgba(68, 0, 0, 1);
}

.shop a b:hover {
  /* border: 2px solid grey; */
}

.centered a {
  /* text-align: center; */
}
.shop a b {
  /* background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(4, 0, 10);
  padding: 1vh 1vw;
  margin: 0vh 0vw;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white; */
}

.shop {
  /* text-align: center;
  margin: 0vh 0vw 0; */
}

.PageWrapper {
  /* min-height: auto; */
}
.description {
  /* margin: 1vh 0;
  font-size: 12px; */
}

.Products {
  /* padding: 0vh 0vw; */
  background-color: white;
}

.statement {
  text-align: center;
  background-color: aquamarine;
  /* margin: 0 0 3vh; */
  padding: 3vh 0;
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* .Home {
  }
  .centered {
    padding: 2vh 1vw;
    width: 370px;
    top: 25%;
    left: 35%;
  }
  .shop a b {
    font-size: 24px;
  }
  .description {
    font-size: 24px;
  }
  .title {
    font-size: 32px;
  } */
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
  /* .Home {
  }
  .centered {
    width: 570px;
    padding: 3vh 2vw;
    top: 40%;
    left: 30%;
  }

  .shop {
    padding: 1vh 1vw;
  }
  .shop a b {
    font-size: 32px;
  }
  .description {
    font-size: 32px;
  }
  .title {
    font-size: 48px;
  } */
}
