.Link {
    margin: 0 2vw 1vh;
    padding: auto 4vw;
}

.Link p {
    overflow-wrap: anywhere;
}

.Details{
    margin: auto;
    padding: auto;
    height: 100%;
}

.authBtn {
    width: 100%;
    padding: 1vh 4vw;
}

