.pricingWrapper {
  /* display: flex; */
  margin: 1vh 0;
}
.paymentWrapper {
  display: flex;
  margin: 1vh 0;
}

.label {
  font-weight: 600;
}

.dollar {
  margin: 0 1vw;
}

.content {
  display: flex;
}
input {
  width: auto;
}

.pricing {
  width: 70%;
}
.currency {
  width: 30%;
  padding: 0 2vw;
}
