.Button {
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  /* margin: 1vh 0; */
  box-sizing: border-box;
  text-align: center;
}

.Button:first-of-type {
  /* margin-left: 0;
  padding-left: 0; */
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.square {
  width: 100%;
  font-weight: bold;
  padding: 1.5vh 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.rounded {
  /* border: 1px solid black; */
  width: fit-content;
  border-radius: 8px;
  padding: 4px 6px;
  /* margin: 2vh 0; */
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.Animation {
  animation: button 0.15s 1 ease-in-out;
}

@keyframes button {
  0% {
    background-color: white;
  }

  50% {
    transform: scale(1.06);
    background-color: rgb(207, 207, 207);
  }

  100% {
    background-color: white;
  }
}
