.Button {
  border: 2px solid grey;
  outline: none;
  cursor: pointer;
  /* margin: 1vh 0; */
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  display: inline-block;
}

.Button:first-of-type {
  /* margin-left: 0;
  padding-left: 0; */
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.square {
  width: 100%;
  font-weight: bold;
  padding: 1.5vh 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.submit {
  /* border: 1px solid black; */
  width: fit-content;
  border-radius: 8px;
  padding: 6px 6px;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0.5vw;
}
.rounded {
  /* border: 1px solid black; */
  width: fit-content;
  border-radius: 8px;
  padding: 6px 6px;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0.5vw;
}

.select {
  width: 100%;
  border: 2px solid gray;
  border-radius: 7px;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  user-select: none;
}

.Selected {
  border-color: rgb(64, 0, 128);
  color: rgb(64, 0, 128);
}
.Selected:focus {
  border-color: rgb(64, 0, 128);
}

.Success {
  color: #5c9210;
}

.Disabled {
  color: rgb(52, 52, 52);
  cursor: none;
}

.Purple {
  background-color: rgb(64, 0, 128);
  color: white;
}

.Danger {
  color: #944317;
}

.Animation {
  animation: button 0.15s 1 ease-in-out;
}

@keyframes button {
  0% {
    background-color: white;
  }

  50% {
    transform: scale(1.06);
    background-color: rgb(207, 207, 207);
  }

  100% {
    background-color: white;
  }
}
