name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request: 
    branches: [ master ]

jobs: 
  getCode:
    runs-on: self-hosted
    steps:
    - name: getcode
      uses: actions/checkout@v3
    - name: Use Node
      uses: actions/setup-node@v3
      with:
        node-version: 16.18.1
    - run: |
        npm ci
        cd client
        npm ci
  Build:
    needs: Get Code
    runs-on: self-hosted
    steps:
    - name: Use Node
      uses: actions/setup-node@v3
      with:
        node-version: 16.18.1
    - run: |
        cd client
        npm run build
  restartNginx:
    needs: Build
    runs-on: self-hosted
    steps:
    - run: |
        pm2 stop 0
        pm2 start 0
        pm2 save
        sudo service nginx restart
